{% extends 'basekgb.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}


   <div class="container-lg text-center p-5">
      <h1>
         Nouvelle Missison
      </h1>
   </div>


   <div class="container-lg p-5">
      <form name="mission" method="post">
         <div id="mission" class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="mission">

               <div class="mb-3">
                  <label for="mission_title" class="form-label required">Titre</label>
                  <input type="text" id="mission_title" name="mission[title]" required="required" maxlength="255" class="form-control">
               </div>

               <div class="mb-3">
                  <label for="mission_description" class="form-label required">Description</label>
                  <textarea id="mission_description" name="mission[description]" required="required" class="form-control"></textarea>
               </div>

               <div class="mb-3">
                  <label for="mission_codename" class="form-label required">Nom de Code</label>
                  <input type="text" id="mission_codename" name="mission[codename]" required="required" maxlength="255" class="form-control">
               </div>

               <div class="mb-3">
                  <label for="mission_statut" class="form-label required">Statut</label>
                  <select id="mission_statut" name="mission[statut]" required="required" class="form-select">
                     <option value="En cour">En cour</option>
                     <option value="En Attente">En Attente</option>
                     <option value="Annulée">Annulée</option>
                     <option value="Terminée">Terminée</option>
                  </select>

               </div>

               <div class="mb-3">
                  <label for="mission_type" class="form-label required">Type</label>
                  <input type="text" id="mission_type" name="mission[type]" required="required" maxlength="255" class="form-control">
               </div>

               <div class="mb-3">
                  <label for="mission_date_start" class="form-label required">Date de début</label>
                  <input type="date" name="mission[dateStart]" id="mission_date_start">
               </div>

               <div class="mb-3">
                  <label for="mission_date_end" class="form-label required">Date de fin</label>
                  <input type="date" name="mission[dateEnd]"id="mission_date_end">>
               </div>

               <div class="mb-3">
                  <label for="mission_country" class="form-label required">Pays</label>
                  <input type="text" id="mission_country" name="mission[country]" required="required" maxlength="255" class="form-control">
               </div>

               <div class="mb-3">

                  <label class="form-label required" for="mission_agent">Agent</label>
                  <select id="mission_agent" name="mission[agent][]" multiple class="form-select">
                     {% for agent in agents %}
                        <option value={{ agent.id }}>{{ agent.name }} {{ agent.firstName }}</option>
                     {% endfor %}
                  </select>


               </div>

               <div class="mb-3">
                  <label class="form-label required" for="mission_requireSpeciality">Spécialité requise</label>
                  <select id="mission_requireSpeciality" name="mission[requireSpeciality]" class="form-select">
                     {% for speciality in specialitys %}
                        <option value={{ speciality.id }}>{{ speciality.name }}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="mb-3">
                  <label class="form-label" for="mission_hideout">Hideout</label>
                  <select id="mission_hideout" name="mission[hideout][]" multiple class="form-select">
                     <option value=null></option>
                     {% for hideout in hideouts %}
                        <option value={{ hideout.id }}>{{ hideout.country }} : {{ hideout.adress }}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="mb-3">
                  <label class="form-label" for="mission_contact">Contact</label>
                  <select id="mission_contact" name="mission[contact][]" multiple class="form-select">
                     <option value=null></option>
                     {% for contact in contacts %}
                        <option value={{ contact.id }}>{{ contact.codename }}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="mb-3">
                  <label class="form-label required" for="mission_target">Target</label>
                  <select id="mission_target" name="mission[target][]" multiple class="form-select">
                     {% for target in targets %}
                        <option value={{ target.id }}>{{ target.codename }}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="mb-3">
                  <button type="submit" id="mission_save" name="mission[save]" class="btn-primary btn">Enregistrer</button>
               </div>
               <input type="hidden" id="mission__token" name="mission[_token]" value="a4f6ed469723c906d.sNPOhRj7CUOTgPjvO2NdeZawoJMJe0_40EJbjSq-L9o.3Oe0tnGzRzX80oumfQkvG-_V4fE_ERm5lhU86Hvpf-_FiqTnILw8Iszajw">
            </div>
            <div class="col-md-3"></div>
         </div>

      </form>



   </div>








{% endblock %}
