<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Site du KGB{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body class="fond" style="background-image: url({{ asset('build/kgb-fond.jpg') }})">
        <nav class="navbar container-lg navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/kgb"> <img class="logo" src="{{ asset('build/LogoKGB.png') }}" alt="Logo du KGB"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item p-1">
                            <a class="nav-link {% if controller_name == 'KGBController' %} active {% endif %}"
                               href="/kgb">
                                Acceuil
                            </a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link {% if controller_name == 'MissionController' %} active {% endif %}"
                               href="/kgb/mission">
                                Missions
                            </a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link {% if controller_name == 'AdminController' %} active {% endif %}"
                               href="/kgb/admin">Administration</a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link" href="#">A propos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        </body>
    <div class="container" style="padding-top:  100px">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img style="width: 100px" src="{{ asset('build/Ybruel-logo.png') }}" alt="ybruel Logo">
                </a>
                <span class="text-muted">© 2021 Yannick BRUEL</span>
            </div>
            
        </footer>
    </div>
</html>
