{% extends 'basekgb.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}


    <div class="container-lg text-center p-5">
        <h1>
            Modifier un contact
        </h1>
    </div>


    <div class="container-lg text-center font d1">
        <div class="grid-name row">
            <div class="col border ">
                codename
            </div>
            <div class="col border ">
                Nom
            </div>
            <div class="col border ">
                prenom
            </div>
            <div class="col border ">
                birthdate
            </div>
            <div class="col border ">
                nationalité
            </div>
        </div>

        {% for contact in contacts %}
            <div class="row">


                <div class="col border">
                    <a href="/kgb/admin/mod_contact?field=codename&item={{ contact.id }}"><div >{{ contact.codename }}</div></a>
                    {% if field == 'codename' %}
                        {% if item == contact.id %}
                        <form method="post">
                            <input name="contact[id]" value="{{ contact.id }}" style="display: none">
                            <input name="contact[codename]" type="text">
                            <button type="submit">ok</button>
                        </form>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col border">
                    <a href="/kgb/admin/mod_contact?field=name&item={{ contact.id }}"><div >{{ contact.name }}</div></a>
                    {% if field == 'name' %}
                    {% if item == contact.id %}
                        <form method="post">
                            <input name="contact[id]" value="{{ contact.id }}" style="display: none">
                            <input name="contact[name]" type="text">
                            <button type="submit">ok</button>
                        </form>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col border">
                    <a href="/kgb/admin/mod_contact?field=firstName&item={{ contact.id }}"><div >{{ contact.firstName }}</div></a>
                    {% if field == 'firstName' %}
                    {% if item == contact.id %}
                        <form method="post">
                            <input name="contact[id]" value="{{ contact.id }}" style="display: none">
                            <input name="contact[firstName]" type="text">
                            <button type="submit">ok</button>
                        </form>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col border">
                    <a href="/kgb/admin/mod_contact?field=birthdate&item={{ contact.id }}"><div >{{ contact.birthdate|date('d/m/Y') }}</div></a>
                    {% if field == 'birthdate' %}
                    {% if item == contact.id %}
                        <form method="post">
                            <input name="contact[id]" value="{{ contact.id }}" style="display: none">
                            <input name="contact[birthdate]" type="date">
                            <button type="submit">ok</button>
                        </form>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col border">
                    <a href="/kgb/admin/mod_contact?field=nationality&item={{ contact.id }}"><div >{{ contact.nationality }}</div></a>
                    {% if field == 'nationality' %}
                        {% if item == contact.id %}
                            <form method="post">
                                <input name="contact[id]" value="{{ contact.id }}" style="display: none">
                                <input name="contact[nationality]" type="text">
                                <button type="submit">ok</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>


            </div>
        {% endfor %}

        <button style="margin: 20px"><a style="text-decoration: none; color: black" href="/kgb/admin">Retour</a></button>

    </div>




{% endblock %}